framework:
    secret: '%env(APP_SECRET)%'
    session: true
    
    mailer:
        dsn: '%env(MAILER_DSN)%'

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file