@import './components/navbar.css';
@import './pages/home.css';
@import './components/footer.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ font-family: 'Afacad', serif;}
.container {
            max-width: 1200px;
            margin: 0 auto;
            padding:2rem 3rem ;
        }
